* {
border: none;
border-radius: 10;
font-family: "SF Pro Display", "Jet BrainsMini Nerd Font Propo";
font-size: 16px;
min-height: 0;
margin: 0;
padding: 0
}

window#waybar {
    background: rgba(241, 152, 146, 0.5);
    color: rgba(19, 19, 19, 0.746);
}

tooltip {
    background: rgba(241, 152, 146, 0.4);
    border: 1px solid rgba(236, 117, 109, 0.5);
}
tooltip label {
    color: white;
}

#workspaces button {
transition: all 150ms ease-in-out;
padding: 0 7px;
background: #e7554f;
color: #121212;
border-bottom: 3px solid transparent;
margin: 1px;
border: 1px solid #92342e;
border-radius: 4px;
}

#workspaces button.active {
min-width: 25px;
transition: all 150ms ease-in-out;
color: #041014;
background: #e7494f;
border: 2px solid #92342e;
border-bottom: 4px solid #92342e;
border-radius: 5px;
}

#clock {
padding: 0 10px;
background-color: #e7494f;
font-weight: 600
}

#pulseaudio {
padding: 0 10px;
background-color: #e7494f;
font-weight: 600;
margin-right: 5;
}

#network {
margin-right: 10px;
padding: 0 10px;
background: #e7494f;
font-weight: 600;
}